@import url("https://fonts.googleapis.com/css?family=Libre+Baskerville|Open+Sans");


body{
    background: whitesmoke;
    font-family: "Libre Baskerville";
    color: #000;
}

a{
    color:black;
    text-decoration: none;
}
.container{
    margin: 1em;
}

/* Navigation */

.nav{
    padding-bottom: 30px;
    display: flex;
    flex-direction: column;
    text-align:center;
}

.nav-title h2{
    margin-top: 0px;
}

.nav-links li{
    padding: 0px 30px 0px 30px;
    margin: 20px 10px;
    text-transform: uppercase;
    background-color: snow;

}

/* About */

.about{
    height: 330px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.about-text{
    margin-top:20px;
    width: 80%;
    text-align: center;
}

.about-profile{
    width: 80%;
}

.about-profile img{
    margin-top: 20px;
    width: 100%;
    margin-bottom:20px;
    max-height: 300px;
}


/* Project */

.portfolio{
    display: flex;
    flex-direction: column;
    align-items: center;

}

.portfolio h3{
    text-align: center;
    text-transform: uppercase;
    margin-top: 50px;
}

.portfolio-project{
    margin: 20px;
    width: 80%;
    align-self: center;
    flex:100%;
}

.portfolio-project img{
    width: 100%;
    max-height:500px;
}

.portfolio-project h4{
    text-align: center;
}

.portfolio-project p{
    text-align: center;
}

/* Contact */

.contact{
    text-align:center;
}

.footer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
}

.footer .right-footer{
  visibility: hidden;
}

.footer .right-footer a:nth-child(1){
  visibility: visible;
}


/* responsive media query */

@media only screen and (min-width: 768px) {

    .nav{
        flex-wrap: wrap;
    }

    .nav-links li{
        display: inline-block;
    }


    .about{
        flex-direction: row-reverse;
        margin-top: 50px;
    }

    .portfolio{
        flex-direction: row;
        flex-wrap: wrap;
    }



    .portfolio h3{
        margin-top: 100px;
        flex:100%;
    }

    .portfolio-project{
        flex: 40%;
        align-self: flex-start;
    }

    .footer{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }

    .footer .right-footer{
      display: flex;
      flex-flow: row-wrap;
      justify-content: flex-end;
    }

    .footer .right-footer a{
      flex-direction: row-reverse;
    }


    .footer .right-footer a p{
      align-self: flex-start;

    }


    .footer .right-footer a:nth-child(2),
    .footer .right-footer a:nth-child(3),
    .footer .right-footer a:nth-child(4){
      visibility: visible;
      margin-left: 10px;
      margin-top: -4px;
    }

    .footer .right-footer a:nth-child(1){
      visibility:hidden;
    }


}



@media only screen and (min-width: 1024px){

    .nav{
        flex-direction: row;
        justify-content: space-between;
        align-content: flex-start;
    }

    .portfolio-project{
        flex: 25%;
        align-self: flex-start;
    }

    .about{
        flex-direction: row-reverse;
        justify-content: space-between;
        align-items: center;
    }

    .about-text{
        padding: 50px;

    }


    .about-profile img{
        max-width: 600px;
    }

    /* .footer a:nth-last-of-type(2), .footer a:nth-last-of-type(3),.footer a:nth-last-of-type(4){
        visibility: visible;
        display: flex;
        text-align: right;
    } */
}
